.text-secondary {
  font-family: roboto, sans-serif;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    text-align: right;
    margin-top: -24px;
    margin-bottom: 2em;

  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.activePage {
    background-color: #2dc4c0;
    color: white;
  }

  a {
      color: #2dc4c0;
  }

.searchTerm {
    width: 70%;
    margin-bottom: 10px;
}

.distance {
    width: 20%;

}
.card {
    box-shadow: 0 2px 8px #d3d3d3;
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 3%;
    max-width: 80vw;
    max-height: 40vh;
}

.card:hover {
    box-shadow: 0 8px 16px 0 green;
}

.card-content {
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.card-title {
    background-color: #2dc4c0;
    color: white;
    padding: 0.75rem;
    font-weight: 330;
}
.weather {
    background-image: url(city.jpg);
    margin-bottom: 5%;
    background-size: cover;
    color: white;
    padding-top: 11%;
    padding-bottom: 8%;

}
.weather span {
    font-weight: 300; 
    background-color: black;
    opacity: 0.8;
}
.currentTemp {
    font-size: 2.5rem;
    font-weight: 100;
    background-color: black;
    opacity: 0.8;
}

.cafe {
    margin-bottom: 5%;


}
.cafe-content {


}
.cafe-title {

    font-weight: 330;
}

.cafe:hover {
}

.cafe img {
    width: 88%;
    max-width: 800px;
    border-radius: 3px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 35%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  iframe {
    border:0; 
    height: 450px; 
    max-width: 90vw;
    margin-bottom: 5%;
  }
/*bigger screens*/
@media only screen and (min-width: 900px) {
    .card {
        height: 90%;
    }
    iframe {
        border:0; 
        height: 450px; 
        width: 750px;
      }
      .accordion {
        width: 20%;
      }

  }