
<!DOCTYPE html>

<html>    
    <head>        
        <title>
            Boba Blog
        </title>        
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css"> 
        <link rel="stylesheet" href="boba.css">
    </head>    
    <body>

        <div class="topnav">
            <a class="active" href="#">Boba Search</a>
            <a href="./blog.html">Boba Blog</a>
          </div>



            <div id="foursquare" class="foursquare">
                <div class="container">

                <div class="search text-center">
                    <h1>Search for Boba</h1>
                    
                    <input type="text" id="searchTerm" class="searchTerm" v-model="cityQuery" placeholder="Please enter a city or zip code" @keyup.enter="searchBoba(); getWeather();">
                    <button type="submit" id="searchButton" class="searchButton btn btn-primary" @click="searchBoba(); getWeather();">
                        Search
                   </button>
                   <br>
                   Distance: <input type= "text" class="distance" v-model="radiuskm" min="0" max="100"> km
                   <br>
                   0 <input type="range" min="0" max="100" value="10" class="slider" id="myRange" v-model="radiuskm"> 100km

                   <hr>
                 </div>
                </div>
        
                 <div class="weather text-center">
                    <h3><span>{{weather.name}}</span> <!--img class = "weathericon" v-bind:src="icon"--></h3>                     
                    <h4 class="currentTemp">{{kelvinToFahrenheit(weather.main.temp)}}&deg;F / {{kelvinToCelsius(weather.main.temp)}}&deg;C</h4>
                    <span><small>{{weather.weather[0].description}}</small></span>

                    <!--div>
                        <p>H: {{kelvinToFahrenheit(weather.main.temp_max)}}&deg;F / {{kelvinToCelsius(weather.main.temp_max)}}&deg;C</p>
                        <p>L: {{kelvinToFahrenheit(weather.main.temp_min)}}&deg;F / {{kelvinToCelsius(weather.main.temp_min)}}&deg;C</p>
                    </div-->

                    
                </div>
                <div class="container">

                <div class="card-container row">
                    <div class="col-lg-4" v-for="venue in venues">
                        <div class="card">
                            <h3 class="card-title">{{venue.name}}</h3>
                            <div class="card-content">
                                <div>{{venue.location.formattedAddress[0]}}</div>
                                <div>{{venue.location.formattedAddress[1]}}</div>
                                <div>{{venue.location.formattedAddress[2]}}</div>
                            </div>
                        </div>
                        
    
                    </div>
                </div>
                

            </div>

        </div>
        <footer class="text-center">
            <hr>

            <small>
              Connect with Eric! @ 
              <a href="https://www.linkedin.com/in/ericshi6/" class="button button-contact" target="_blank">LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              / <a href="https://github.com/ericshi6" class="button button-contact" target="_blank">GitHub <i class="fa fa-github"></i></a>
              / <a href="https://ericshi6.github.io/portfolio/" class="button button-contact" target="_blank">Portfolio</a>

            </small>
            <hr>
          </footer>

        <script src="boba.js"></script>
    </body>
</html>